$accentColor = #3490dc
$textColor = #22292f
$borderColor = #dae1e7
$codeBgColor = #282c34

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic');

body
  font-family: 'Roboto', sans-serif !important;

h1, h2, h3, h4, h5, h6
  font-weight 400 !important

td
  line-height 1.5